<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">

  <display-name>iBIOMES</display-name>
  <description>iBIOMES web portal</description>
  
  
    <session-config>
		<session-timeout>30</session-timeout> 
    </session-config>
    
    <!-- ============================ LISTENERS ================================== -->
     <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener> 
    <listener>
        <listener-class>edu.utah.bmi.ibiomes.web.listener.IBIOMESSessionListener</listener-class>
    </listener>
    
  	<!-- ============================ PARAMETERS ================================== -->
  	<!--
      - Location of the XML file that defines the root application context
      - Applied by ContextLoaderListener.
     -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/ibiomes-mvc-servlet.xml</param-value>
    </context-param>
     
    <!-- ============================ SERVLETS ================================== -->
    
	<!--
      - Provides core MVC application controller. See ibiomes-web-servlet.xml.
     -->
    <servlet>
        <servlet-name>ibiomes-mvc</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>ibiomes-mvc</servlet-name>
        <url-pattern>*.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>ibiomes-mvc</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
  
  <!-- ============================ DEFAULT PAGE ================================== -->
  
    <welcome-file-list>
        <welcome-file>index.do</welcome-file>
    </welcome-file-list>
  <!-- ============================ ERROR PAGES ================================== -->
    
  <error-page>
	<error-code>404</error-code>
	<location>/errors/error404.html</location>
  </error-page>
 <!--  <error-page>
	<error-code>500</error-code>
	<location>/errors/error500.html</location>
  </error-page> -->
  
  <!-- ============================ SSL ================================== -->
  
  <security-constraint>
	<web-resource-collection>
		<web-resource-name>securedapp</web-resource-name>
		<url-pattern>/*</url-pattern>
	</web-resource-collection>
	<user-data-constraint>
		<!-- <transport-guarantee>CONFIDENTIAL</transport-guarantee> -->
		<transport-guarantee>NONE</transport-guarantee> 
	</user-data-constraint>
  </security-constraint>

</web-app>
